<% provide :title, t("home.title") %>
<div class="relative home-background">
    <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
        <h1 class="text-white text-4xl mb-4"><%= t "home.title" %></h1>
        <p class="text-white text-lg"><%= t "home.mess" %></p>
    </div>
</div>
