<% if @request.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger text-black">
      <%= t "errors.the_form_contains" %>
      <%= pluralize @request.errors.count, t("errors.error") %>.
    </div>
    <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li class="text-black"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
