<li class="mb-4 p-4 border-b border-gray-300">
  <div class="flex items-center space-x-4">
    <p class="text-sm font-semibold text-blue-600">
      <%= review.user.username %>
    </p>
    <p class="text-sm font-semibold">
      <%= t "review.rate", rate: review.rate %>
    </p>
    <p class="text-sm">
      <%= t "review.content", content: review.content %>
    </p>
    <p class="text-sm text-gray-500">
      <%= review.created_at.strftime("%d/%m/%Y") %>
    </p>
  </div>
</li>
