@import "font-awesome";
@import "./colors.scss";

* {
  color: $text-color;
}

.home-background {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.dropdown-menu.active {
  display: block;
}

.select-black-text select {
  color: black !important;
}

.select-black-text option {
  color: black;
}

.text-color-accepted {
  color: green;
}

.text-color-pending {
  color: #f7dc6f;
}

.text-color-rejected {
  color: red;
}

.text-color-canceled {
  color: gray;
}
