@import "font-awesome";
@import "./colors.scss";

* {
  color: $text-color;
}

.home-background {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
